<!DOCTYPE html>
<html>
<head>
  <title>Crowdfunder</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Braintree JS -->
  <!-- <script type="text/javascript" src="https://js.braintreegateway.com/v2/braintree.js"></script> -->

</head>
<body>

<%= render 'layouts/navbar' %>

<div class="container">
  <% flash.each do |type, message| %>
    <div class="alert <%= bootstrap_flash_class(type) %> fade in">
      <%= message %>
      <a class="close" data-dismiss="alert">
        <i class="glyphicon glyphicon-remove"></i>
      </a>
    </div>
  <% end %>

  <%= yield %>
</div>

</body>
</html>
